.column3
  .col40
    .col100
      Efectivo:
    .col100
      Tarjeta:
    .col100
      Total caja:
  .col40.textr
    .col100
      = "#{number_with_precision(cash.incash_lines.sum(:price), :precision => 2) }€"
    .col100
      = "#{number_with_precision(cash.cr_lines.sum(:price), :precision => 2) }€"
    .col100
      = "#{number_with_precision(cash.lines.sum(:price), :precision => 2) }€"
    .col100
      - if cash.closed?
        = "Caja cerrada a fecha de #{l cash.closed_at}"
      - else
        = button_to "Cerrar caja", cash_close_path(cash), :confirm => "¿Seguro que quieres cerrar la caja?"
- if cash and not cash.bills.nil?
  - num_bills = cash.bills.count
  - (0..1).each do |num|
    .column3
      - bill = (num..num_bills-1).step(2).each do |bill|
        = render cash.bills[bill]
