%h1 Cajas

- if not @cash.nil?
  %h2
    Caja de hoy
  = render @cash
.column
  %h2 Historial de cajas:
  - @cashes.each do |c|
    .column2
      = link_to "#{l c.created_at}", c
    .column2
      = "#{number_with_precision(c.lines.sum(:price), :precision => 2) }€"
