%h1 Cajas

- if not @cash.nil?
  %h2
    Caja de hoy
  = render @cash
.column
  %h2 Historial de cajas:
  - @cashes_by_month.each do |m, cashes|
    %h3
      = m
    - cashes.each do |c|
      .column2
        = link_to "Día #{c.created_at.strftime("%d a las %R")}", c
      .column2
        = "#{number_with_precision(c.total, :precision => 2) }€"
