.column
  %h1 Cajas

  - if not @cash.nil?
    %h2
      Caja de hoy
    = render @cash
.column
  %h2 Historial de cajas:
  .col25
    - @cashes_by_month.each do |m, cashes|
      .col100.cash_month.round
        %h3
          = "#{m} (#{number_with_precision(cashes.sum(&:total), :precision => 2)}€)"
        - cashes.each do |c|
          .col30
            = link_to "Día #{c.created_at.strftime("%d")}", c
          .col70.textr
            = "#{number_with_precision(c.total, :precision => 2) }€"
