%h1 Login
 
=form_for(:session, :url => sessions_path) do |f|
  .field
    .flabel
      = f.label :nick
    .ffield
      = f.text_field :nick
  .field
    .flabel
      = f.label :password
    .ffield
      = f.password_field :password
  .actions
    = f.submit "Ingresar"
