.round.foodcat.float{ :class => "state#{bill.state_id.to_s}"}
  = render 'bills/bill_head', :bill => bill, :expanded => false
  %div{:id => "b_lines_#{bill.id.to_s}"}
    - if request.fullpath =~ edit_bill_path_regex
      = render bill.lines
    - else
      %span
        &#x200B;
  .total.float{:id => "b_price_#{bill.id.to_s}"}
    = bill_total_price(bill)
  .pay.float
    - if bill.state_id == 1
      = button_to "Dejar pendiente", bills_path, :method => :get unless not request.fullpath =~ edit_bill_path_regex
      = button_to "Efectivo", bill_pay_path(bill) + "?state=2"
      = button_to "Tarjeta", bill_pay_path(bill) + "?state=3"

