$("<%="#b_lines_#{@bill.id}"%>").html("<span>&#x200B;</span>")
$("<%="#bill_head_#{@bill.id}"%>").html("<%= escape_javascript(render 'bill_head', :bill => @bill, :expanded => false)%>")
$("<%="#b_price_#{@bill.id}"%>").html("<%= bill_total_price(@bill) %>")
