- # encoding: utf-8

= render 'shared/sections', :path => edit_bill_path(@bill)

%h2
  = "Editando cuenta \"#{@bill.name}\""
.round
  .column3
    #bill
      = render @bill
  - (0..1).each do |num|
    .column3
      - cats = (num..@foodcats.count-1).step(2).each do |cat|
        = render @foodcats[cat], :contracted => (@foodcats[cat].name == "Suplementos") ? false : true
