.food
  .fname.float
    - if request.fullpath =~ edit_bill_path_regex
      = link_to food.name, bill_bill_lines_path(params[:id]) + "?food_id=#{food.id}",
                                                                  :class => "food_button",
                                                                  :title => "Añadir #{food.name}",
                                                                  :method => :post,
                                                                  :remote => true
    - else
      = food.name
  .fprice.float
    #{number_with_precision(food.price, :precision => 2)}€
    = link_to image_tag("delete.gif"), food, :method => :delete,
                           :confirm => "¿Borrar #{food.name}?",
                           :title => "Borrar " + food.name unless not request.fullpath =~ /\/food_cats\/\d+\/edit/
- if request.fullpath =~ /(menu|food_cats\/\d+\/edit\/?)/
  .fdesc
    = food.desc
 
