.food
  .fname.float
    - if request.fullpath =~ /\/bills\/.*\/edit/
      = button_to food.name, bill_bill_lines_path(params[:id]) + "?food_id=#{food.id}"
    - else
      = food.name
  .fprice.float
    #{number_with_precision(food.price, :precision => 2)}€
    = link_to "[x]", food, :method => :delete,
                           :confirm => "¿Borrar #{food.name}?",
                           :title => "Borrar " + food.name unless not request.fullpath =~ /\/food_cats\/.*\/edit/
-if not request.fullpath =~ /\/bills/
  .fdesc
    = food.desc
  
    
