!!!
%html
  %head
    %title
      = "La Font | " + @title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      = render 'layouts/header'
      %section.round
        - flash.each do |key, value|
          =  content_tag(:div, value, :class => "round flash #{key}")
        = yield
      %section.round
        = render 'layouts/footer'
      %section.round
        = debug(params) if Rails.env.development?
