!!!
%html
  %head
    %title
      = "La Font | " + @title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .container
      = render 'layouts/header'
      %section.round
        - flash.each do |key, value|
          =  content_tag(:div, value, :class => "flash #{key}")
        %nav
          %ul
            - FoodCatSection.all.each do |sec|
              %li.csection
                = link_to sec.name, menu_index_path + "?section=" + sec.id.to_s
        = yield
